:root {
    --primary-color: #fffdec;
    --accent-color: #90c093;
    --accent-two-color: #ffd562;
    --accent-three-color: #2b66c3;
    --accent-four-color: #b2355b;
    --surface-color: #bbd0c7;
    --surface-high-color: #c7e6d4;
    --surface-highest-color: #d4fce2;
    --background-color: #1a1a1a;
    --on-primary-color: #24292f;
    --on-surface-color: #24292f;
    --on-background-color: #f5f5f5;
}
