.App {
    background-color: #24292f;
    min-height: calc(100%);
    font-family: "General-sans", sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #24292f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: "Thunder";
    src:
        url("./assets/fonts/Thunder-BlackHC.woff2") format("woff2"),
        url("./assets/fonts/Thunder-BlackHC.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Thunder-black";
    src:
        url("./assets/fonts/Thunder-BlackLC.woff2") format("woff2"),
        url("./assets/fonts/Thunder-BlackLC.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "General-sans";
    src:
        url("./assets/fonts/GeneralSans-Regular.woff2") format("woff2"),
        url("./assets/fonts/GeneralSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes on-focus-animation {
    from {
    }
    to {
        transform: scale(1.1);
        /* unset properties i.e. 'filter' will revert to default values */
    }
}
